{% extends "base.html" %}


{% block content%}
<body style="background-color: #17202A;">
<div class="container-fluid" style="background-color: #17202A  ;">
    
    <div class="row">
        <div class="col-sm-2 "></div>
        <div class="col-sm-8 rounded" >

    <hr>
    
<div class="container d-flex justify-content-center align-items-center flex-column mt-3" >

    <div class="d-flex justify-content-center align-items-center flex-column border rounded-3" style="background-color: #212F3D;border-color: white; width:602px">
    <div class="container rounded-3" style=" background-color: #17202A; width:600px; border-color: red;">
    {% for post in object_list %}  {# object_list is a query set #}
    
    <div class="input-group d-flex justify-content-between mb-1 mt-2 rounded" style="border-color: white;background-color: #212F3D; height: 100px; width:570px;">
        <div class="m-3 rounded">
        <a href="{% url 'members:show_profile' post.author.id %}"> <p>{{post.author.first_name}} {{post.author.last_name}}</p> </a>
        <small>{{post.post_date}}</small>
        </div>  
        <div class="m-3 rounded">
            {% if user.id == post.author.id %}
            <a href="{% url 'post:update_post' post.pk %}"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-three-dots" viewBox="0 0 16 16">
                <path d="M3 9.5a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3z"/>
            </svg></a>
            {% endif %}
        </div>
    </div>
    
    <div class="card" style="background-color: #212F3D; width: 570px;  border-color: white;">
        {% if post.header_image %}
        <img class="card-img-top" src="{{post.header_image.url}}" alt="Card image cap">
        {% endif %}
    
        <div class="card-body rounded-top">
          <h5 class="card-title"><a href="{% url 'post:article-detail' post.pk %}">{{post.title}} 
        
          </a>
          </h5>
          <p class="card-text">{{post.body | safe}} </p>
        </div>
        <div class="card  rounded-bottom"style="background-color: #212F3D; border-color: white;">
            <div class="card-body rounded-bottom">
                {% if not post.comments.all %}   
                <h5>No comments yet</h5>    
                {% if user.is_authenticated %}
                <form method="post" action="{% url 'post:add_comment' post.id %}">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" hidden>Add Comment</button>
                  </form>
                {% endif %}
                    <hr>
                  
                {% else %}
                {% if user.is_authenticated %}
                <h5>Comments</h5>
                <form method="post" action="{% url 'post:add_comment' post.id %}">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" hidden>Add Comment</button>
                  </form>
                {% endif %}
                <hr>
                {% for comment in post.comments.all %}     
                  
                    <div class="flex-column">
                    <p>{{comment.body }}</p>
                    <div class="d-flex justify-content-end">
                    <strong>{{comment.name }} - {{comment.date_added }}</stong>
                    </div>
                   </div>
                    <hr>
                    <br>
                    
                {% endfor %}
                {% endif %}
                
           
            </div>
          </div>
      </div>

            <br/>
            
            <br/>
            
    
    {% endfor %}
    </div>
    </div>

        </div>
    </div>
        <div class="col-sm-2"></div>
  </div>
</div>
</body>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function() {
        // Select all <label> elements and set their opacity to 0
        $('label').css('opacity', '0');
    });
</script>
{% endblock %}