{% extends "base.html" %}
{% block title%} Change profile {% endblock %}
{% block content%}

{% if user.is_authenticated %}
<body style="background-color: #17202A;">
<div class="form-group">
  <form method="POST" enctype="multipart/form-data">
      {% csrf_token %}
      {{form.media}}
      {{form.as_p}}
  
      <button class="btn btn-secondary">Update Profile</button>
</div>
</div>
<body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
<script>
  var name = "{{user.id}}";
  document.getElementById("poster").value
  = name
</script>

{% endif %}
{% endblock %}